# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

*.ts
*.local

node_modules
dist
.firebase

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
.env
