$defaultFont: 'Product Sans', sans-serif;

@use 'vuetify/settings' with (
    
$tab-slider-size: 6px,

// Buttons
$button-disabled-opacity: 0.5,
$button-disabled-overlay: 0.1,

// Fonts
$body-font-family: $defaultFont,
$heading-font-family: $defaultFont,

);
