$defaultFont: 'Product Sans', sans-serif;


// 👉 Card transition properties
$card-transition-property-custom: box-shadow, opacity;

@forward 'vuetify/settings' with (
    
// Tabs
$tab-slider-size: 6px,

// Text fields

// Buttons
$button-disabled-opacity: 0.5,
$button-disabled-overlay: 0.1,
$button-text-transform: false,

// Fonts
$body-font-family: $defaultFont,
$heading-font-family: $defaultFont,


// Fields
$field-input-opacity: .1,
$field-outline-opacity: .1,
$field-transition-timing: 0s,
$field-subtle-transition-timing: 0ms,
$field-focused-border-width: 3px,
$field-control-solo-elevation: 0,
);
