$defaultFont: 'Product Sans', sans-serif;

@forward 'vuetify/settings' with (
    
// Tabs
$tab-slider-size: 6px,

// Text fields
$field-control-solo-elevation: 0,
 
// Buttons
$button-disabled-opacity: 0.5,
$button-disabled-overlay: 0.1,

// Fonts
$body-font-family: $defaultFont,
$heading-font-family: $defaultFont,

);
