@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: local('Product Sans'), url('ProductSans-Regular.woff') format('woff');
}

h1:not(.ignore-font),
h2:not(.ignore-font),
h3,
h4,
h5,
h6,
p,
a,
.v-application_wrap,
.v-btn {
  font-family: 'Product Sans', sans-serif !important;
  color: #adbac7 !important;
}
