$defaultFont: 'Product Sans', sans-serif;

@forward 'vuetify/settings' with (  

$color-pack: false,

//Buttons
$button-disabled-opacity: 0.5,
$button-disabled-overlay: 0.1,

//Tabs
$tab-slider-size: 5px,

$body-font-family: $defaultFont,
$heading-font-family: $defaultFont,
)
